* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(180deg, rgb(40, 65, 133) 0%, rgba(14,105,216,1) 100%);
    background-repeat:no-repeat;
    height: 100vh;

}

footer{
    color: #ffffffcc;
    position: fixed;
    bottom: 3px;
    left: 35%;
    background: transparent;
    font-family: sans-serif ;
  }

.navbar{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.container-nav{
    background-color: #122760;
    padding: 0.5rem;
    border-radius: 50px;
    display: flex;
}

.navbar img{
    height: 1.3rem;
    width: 1.3rem;
    margin-bottom: 0.3rem;
}

.navbar a{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 0 0.9rem;
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
}

.navbar a:nth-child(1) {
background-color: #0e69d8 ;
border-radius: 50px;
height: 2rem;
width: 5rem;
padding-top: 5;
padding-bottom: 3rem;
}

.navbar a:hover{
    color: #1A306B;

}

.navbar .offre-alternance{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #FAF7F0;
    text-align: center;
    font-size: 2.5rem;
    display: block;
    margin: 3rem auto;
    max-width: 75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.span-h1{
    color: #0be0a0;
}

.input1{
    width: 23rem;
    height: 4rem;
    font-size:1em;
    position: absolute;
    top: 45%;
    left: 43rem;
    display: block;
    border-radius: 50px;
    border: none;
    border: 3px solid rgb(31, 31, 31);   
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.input2{
    width: 23rem;
    height: 4rem;
    font-size:1em;
    position: absolute;
    top: 45%;
    left: 17rem;
    display: block;
    border-radius: 50px;
    border: none;
    border: 3px solid rgb(31, 31, 31);   
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}


input:focus::placeholder{
color: #FEFEFE;
}

input:focus{
    outline: none;
}

::placeholder{
    color: rgb(0, 0, 0, 0.4); 
    font-weight: 600;
    transition: 0.2s;
}
