* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(180deg, rgb(40, 65, 133) 0%, rgba(14,105,216,1) 100%);
    background-repeat:no-repeat;
}

footer{
    color: #ffffffcc;
    position: fixed;
    bottom: 3px;
    left: 35%;
    background: transparent;
    font-family: sans-serif ;
  }

  /*Section en haut de la page pour laisse lespace au résultat de recherche plus tard */
.recherche{
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.container-nav{
    background-color: #122760;
    padding: 0.5rem;
    border-radius: 50px;
    display: flex;
}

.navbar img{
    height: 1.3rem;
    width: 1.3rem;
    margin-bottom: 0.3rem;
}

.navbar a{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 0 0.9rem;
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
}

.navbar a:nth-child(1) {
background-color: #0e69d8 ;
border-radius: 50px;
height: 2rem;
width: 5rem;
padding-top: 5;
padding-bottom: 3rem;
}

.navbar a:hover{
    color: #1A306B;
}

.navbar .offre-alternance{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #FAF7F0;
    text-align: center;
    font-size: 2.5rem;
    display: block;
    margin: 3rem auto;
    max-width: 75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.span-h1{
    color: #0be0a0;
}

/* Container qui centre les deux input et les filtres au milieu de l'écran */
.container-input-filtre{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60rem;
    background-color: red;
    margin: 0 auto;
}

/* Container qui aligne horizontalement les inputs */
.container-input{
    background-color: blue;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.input1, .input2{
    width: 30rem;
    height: 5rem;
    font-size:1em;
    display: block;
    border-radius: 10px 0px 0px 10px;
    border: 3px solid rgb(31, 31, 31);   
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.input2{
    border-radius:  0px 10px 10px 0px;
    border-left: none; 
}

input:focus::placeholder{
color: #FEFEFE;
}

input:focus{
    outline: none;
}

::placeholder{
    color: rgb(0, 0, 0, 0.4); 
    font-weight: 600;
    transition: 0.2s;
}

.result{
    height: 100vh;
}

.container-filtre{  
  align-self: flex-start;
}


.container-filtre button{
    height: 2.4rem;
    width: 6.9rem;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 4px;
    margin-right: 0.9rem;
    border: 1px solid rgb(173, 173, 173);
    transition: 0.2s;
}

.container-filtre button img{
    height: 1.15rem;
    padding-left: 0.5rem;
    padding-top: 7px;
}

/* Instruction de style pour changer la couleur des sgv */
.svg-img {
    transition: filter 0.2s ease;
  }
  
  /* Filtre a chnager en fonction des sgv */
  .filtre1:hover .svg-img {
    filter: brightness(100%) saturate(100%) invert(100%) sepia(0%) hue-rotate(0deg) contrast(100%);
  }  

.container-filtre button:hover{
    background-color: #122760;
    color: #ffff;
    border-color: #122760;
}